<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="main-container">
      <% include ../static/partials/messages.ejs %>
      <div class="wiki-container">
        <div class="public-new-container">
          <h3 class="bold">Public wikis</h3>
  
          <% if(currentUser) { %>
            <a class="standard-link" href="/wikis/new">New</a>
          <% } %>
        </div>

        <ul class="wiki-list">
          <% result.publicWikis.forEach((wiki) => { %>
            <li class="wiki-list-item">
              <a class="wiki-link" href="/wikis/<%= wiki.id%>"><%= wiki.title %></a>
            </li>
          <% }) %>
        </ul>
    </div>


      <% if(currentUser && result.privateWikis.length != 0){ %>
        <div class="wiki-container">
          <h3 class="bold">Private wikis</h3>
    
          <ul class="wiki-list">
            <% result.privateWikis.forEach((wiki) => { %>
              <li class="wiki-list-item">
                <a class="wiki-link" href="/wikis/<%= wiki.id%>"><%= wiki.title %></a>
              </li>
            <% }) %>
          </ul>
        </div>
      <% } %>

      <% if(currentUser && result.collabWikis.length != 0){ %>
        <div class="wiki-container">
          <h3 class="bold">Collaborative wikis</h3>
  
          <ul class="wiki-list">
            <% result.collabWikis.forEach((wiki) => { %>
              <li class="wiki-list-item">
                <a class="wiki-link" href="/wikis/<%= wiki.wikiId%>"><%= wiki.Wiki.title %></a>
              </li>
            <% }) %>
          </ul>
        </div>
      <% } %> 
      
    </main>
  </body>
</html>
