<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="main-container">
      <% include ../static/partials/messages.ejs %>

      <div class="show-wiki-title">
        <h3 class="bold"><%- result.wiki.title %></h1>
        <h4><%= result.wiki.private ? 'Private' : 'Public' %> wiki</h4>
        <a class="standard-link" href="/wikis">Back</a>
      </div>

      <% if(currentUser && (currentUser.isAdmin() || currentUser.isPremiumOwner(result.wiki.userId))){ %>
        <div class="show-wiki-title">
          <form action="/wikis/<%= result.wiki.id %>/<%= result.wiki.private ? 'makePublic' : 'makePrivate' %>" method="post">
            <button class="edit-wiki-button" type="submit"><%= result.wiki.private ? 'Make Public' : 'Make Private' %></button>
          </form>
  
          <a class="edit-link" href="/collaborators/edit">Edit collaborators</a>
        </div>
      <% } %>

      <% if(result.collabUsers && result.collabUsers.length != 0){ %>
        <div class="wiki-container">
          <h4 class="bold">Collaborators:</h5>
  
          <% result.collabUsers.forEach((user) => { %>
            <p><%= user.User.name %></p>
          <% }) %>
  
        </div>
      <% } %>

      <div class="wiki-container flex-row">
        <% if(currentUser){ %>
          <a class="edit-link" href="/wikis/<%= result.wiki.id %>/edit">Edit wiki</a>
        <% } %>
          
          
        <% if(currentUser && (currentUser.isAdmin() || currentUser.isOwner(result.wiki.userId))){ %>
          <form style="display:initial" action="/wikis/<%= result.wiki.id %>/destroy" method="post">
            <button class="edit-wiki-button" type="submit">Delete wiki</button>
          </form>
          <% } %>
      </div>
          
      <div class="wiki-content-container">
        <p><%- result.wiki.body %></p>
      </div>
    </main>
  </body>
</html>