<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="main-container">
      <% include ../static/partials/messages.ejs %>

      <h1><%= result.user.name %></h1>
      <h2>current account status:</h2>
      <h3><%= result.user.role %></h3>

      <a href="/users/<%= result.user.id %>/upgrade">Edit account</a>
      
      <div>
        <h2>Your private wikis:</h2>
        <% result.wikis.forEach((wiki) => { %>
          <li>
            <a href="/wikis/<%= wiki.id%>"><%= wiki.title %></a>
          </li>
        <% }) %>
      </div>
    </main>
  </body>
</html>
