<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    
    <main class="main-container">
      <% include ../static/partials/messages.ejs %>
      
      <div class="wiki-container">
        <% include ../static/partials/userCard.ejs %>
        <a class="edit-link edit-account-link" href="/users/<%= result.user.id %>/upgrade">Edit account</a>
      </div>

      <% if(result.privateWikis.length != 0){ %>
        <div class="wiki-container">
          <h3 class="bold">Your private wikis:</h3>
            <ul class="wiki-list">
              <% result.privateWikis.forEach((privateWiki) => { %>
                <li class="wiki-list-item">
                  <a class="wiki-link" href="/wikis/<%= privateWiki.id%>"><%= privateWiki.title %></a>
                </li>
              <% }) %>
            </ul>
        </div>
      <% } %>
        
      <% if(result.collabWikis.length != 0){ %>
        <div class="wiki-container">
          <div class="public-new-container">
            <h3 class="bold">Your collab wikis:</h3>
            <a class="edit-link" href="/collaborators/edit">Edit collabs</a>
          </div>

          <ul class="wiki-list">
            <% result.collabWikis.forEach((collabWiki) => { %>
              <li class="wiki-list-item">
                <a class="wiki-link" href="/wikis/<%= collabWiki.wikiId%>"><%= collabWiki.title %></a>
              </li>
            <% }) %>
          </ul>
        </div>
      <% } %>
    </main>
  </body>
</html>
